.portraitImageSizing{
    border-radius: 50%;
    width: 200px;
    filter: opacity(50%);
    filter: grayscale(80%);

}

.portraitImageSizing:hover{
    border-radius: 50%;
    width: 200px;
    filter: opacity(100%);
    filter: grayscale(0%);
    transition-duration: 1s;

}

.landingBGAbout{
    position: fixed;
    left: 7%;
    width: 180vh;
    height: 100vh;
    filter: brightness(0.2);
    z-index: -1;
    overflow-y: hidden;
}

.upperSpacing{
    height: 200px;
}

.textColor{
    color: white;
    text-decoration: none;
}

.flexCenter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}