body {
    font-family: Ubuntu, "times new roman", times, roman, serif;
    background-color: black;
}

.landingBG{
    
    height: 100vh;
    filter: brightness(0.2);
    z-index: -1;
}

.Bg{
    padding-left: 0;
    padding-right: 0;
}

.projectImageSizing{
    width: 400px;
    filter: opacity(50%);
    filter: grayscale(80%);
    margin: 25px;

}

.projectImageSizing:hover{
    width: 500px;
    filter: opacity(100%);
    filter: grayscale(0%);
    transition-duration: 1s;
    margin: 25px;
}

.ProjectsFlexSpacing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.ProjectsFlexSpacing a{
    margin-left: 10px;
    margin-right: 10px;
}

.FlexRow{
    display: flex;
    justify-content: space-between;
}