

.FooterPositionFixed{
    position: fixed;
    bottom: 5%;
    width: 100%;
    z-index: 105;
 }

.textColor{
     color: white;
 }

.FooterFlexCenter{
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.FooterFlexCenter h4{
    margin-right: 15px;
    margin-left: 15px;
}

.FooterFlexCenter h6{
    margin-left: 15px;
    margin-right: 15px;
}

.footerIcons{
    filter: invert(100%);
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
}